{%extends 'todo/base.html'%}
{%block content%}
    <section class="vh-100" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-lg-9 col-xl-7">
                    <div class="card rounded-3">
                        <div class="card-body p-10">
                            <form method="POST">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Create/Edit a ToDo Item</legend>
                                    <h4>Todo Text: {{form.todo_text}}</h4>
                                </fieldset>
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">ToDo Item Complete? {{form.complete}}</legend>
                                </fieldset>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Save</button>
                                    <a class="btn btn-primary mr-2" href="{%url 'todo-home'%}">Go To Home Page</a>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </section>
{%endblock%}
